<?xml version="1.0" encoding="utf-8" ?>

<!-- system:ISTS -->
<!-- file:NLog.config -->

<!-- version:1.9 -->
<!-- fixed archiveFileName for first fileApplication and fileFlow target -->
<!-- added configuration layouts for CSV targets -->

<!-- version:1.8 -->
<!-- fixed base full path for application target-->

<!-- version:1.7 -->
<!-- rimosso definizione dei layout su variables a causa problema render ${counter}-->

<!-- version:1.6 -->
<!-- structure log utilizzato lowercase -->
<!-- structure log aggiornato nomi propiertà -->

<!-- version:1.5 -->
<!-- aggiunto opzionale target MQTT per structured log -->
<!-- aggiunto campi su structured log -->
<!-- aggiunto definizione dei layout su variables -->

<!-- version:1.4 -->
<!-- aggiunto il tipo di logging structured -->

<!-- version:1.3 -->
<!-- modificato il target layout in JSON -->

<!-- version:1.2 -->
<!-- pre le business inserito la possibilità di filtrare i message log della libreria nlogflow -->

<!-- version:1.1 -->
<!-- modicifato i timestamp in UTC ISO 8601 -->

<!-- version:1.0 -->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	    internalLogLevel="Error"
      internalLogFile="c:\temp\nlog-internal.txt"
      internalLogToConsole="false"
      throwConfigExceptions="true">

	<extensions>
		<!-- abilitare per hosting IIS-->
		<add assembly="NLog.Web.AspNetCore"/>
		<!-- abilitare per target structured MQTT-->
		<!--<add assembly="NLog.Targets.MQTT"/>-->
	</extensions>

	<!-- Modificare il valore della variabile a seconda se l'applicativo è hosted in IIS oppure no -->
	<variable name="appName" value="${processname:fullName=false}"/>
	<!--<variable name="appName" value="${iis-site-name}"/>-->

	<!-- PATH base dei log APPLICATION -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_BASE_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appBasePath" value=".\Log"/>

	<!-- PATH base dei log archivio APPLICATION -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_FALLBACK_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appBasePathFallback" value=".\Log"/>

	<!-- PATH base dei log PERFORMANCE -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_BASE_PERF_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appPerfPath" value=".\Log"/>

	<!-- PATH base dei log archivio PERFORMANCE -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_FALLBACK_PERF_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appPerfPathFallback" value=".\Log"/>

	<!-- PATH base dei log STRUCT -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_BASE_PERF_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appStructPath" value=".\Log"/>

	<!-- PATH base dei log archivio STRUCT -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_FALLBACK_PERF_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appStructPathFallback" value=".\Log"/>

	<!-- PATH base dei log TRACE -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_BASE_TRACE_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appTracePath" value=".\Log"/>

	<!-- PATH base dei log archivio TRACE -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_FALLBACK_TRACE_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appTracePathFallback" value=".\Log"/>

	<!-- PATH base dei log FLOW -->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOG_BASE_FLOW_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appFlowPath" value=".\Log\Flow"/>

	<!-- PATH base dei log archivio FLOW-->
	<!-- Utilizzare un path senza il caratter "\" finale -->
	<!-- Utilizzare il valore ${environment:NLOGG_FALLBACK_FLOW_PATH} per specificare il path su una variabile d'ambiente di sistema -->
	<variable name="appFlowPathFallback" value=".\Log\Flow"/>

	<!-- File name finale dei log APPLICATION -->
	<variable name="baseFileName" value="APP_Log.txt"/>
	<!-- File name finale dei log TRACE -->
	<variable name="traceFileName" value="${event-context:item=TetLoggerName}.txt"/>
	<!-- File name finale dei log FLOW -->
	<variable name="flowFileName" value="FLOW_Log.txt"/>
	<!-- File name finale dei log PERFORMANCE -->
	<variable name="perfFileName" value="${event-context:item=TetLoggerName}.txt"/>
	<!-- File name finale dei log STRUCT -->
	<variable name="structFileName" value="${event-context:item=TetLoggerName}.txt"/>

	<!-- File name finale dei log APPLICATION archivio -->
	<variable name="baseFileNameArchive" value="APP_Log_{#######}.zip"/>
	<!-- File name finale dei log TRACE archivio -->
	<variable name="traceFileNameArchive" value="${event-context:item=TetLoggerName}_{#######}.zip"/>
	<!-- File name finale dei log FLOW archivio -->
	<variable name="flowFileNameArchive" value="FLOW_Log_{#}.txt"/>
	<!-- File name finale dei log PERFORMANCE archivio -->
	<variable name="perfFileNameArchive" value="${event-context:item=TetLoggerName}.txt_{#######}.zip"/>
	<!-- File name finale dei log STRUCT archivio -->
	<variable name="structFileNameArchive" value="${event-context:item=TetLoggerName}.txt_{#######}.zip"/>


	<!-- PATH FULL log APPLICATION -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="baseFileNameFull" value="${appBasePath}\${appName}\${baseFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="baseFileNameArchiveFull" value="${appBasePath}\${appName}\archives\${baseFileNameArchive}"/>

	<!-- PATH FULL log APPLICATION FALLBACK -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="baseFileNameFallbackFull" value="${appBasePathFallback}\${appName}\${baseFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="baseFileNameFallbackArchiveFull" value="${appBasePathFallback}\${appName}\archives\${baseFileNameArchive}"/>

	<!-- PATH FULL log TRACE -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="traceFileNameFull" value="${appTracePath}\${appName}\${traceFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="traceFileNameArchiveFull" value="${appTracePath}\${appName}\archives\${traceFileNameArchive}"/>

	<!-- PATH FULL log TRACE FALLBACK -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="traceFileNameFallbackFull" value="${appTracePathFallback}\${appName}\${traceFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="traceFileNameFallbackArchiveFull" value="${appTracePathFallback}\${appName}\archives\${traceFileNameArchive}"/>

	<!-- PATH FULL log PERFORMANCE -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="perfFileNameFull" value="${appPerfPath}\${appName}\${perfFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="perfFileNameArchiveFull" value="${appPerfPath}\${appName}\archives\${perfFileNameArchive}"/>

	<!-- PATH FULL log PERFORMANCE FALLBACK -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="perfFileNameFallbackFull" value="${appPerfPathFallback}\${appName}\${perfFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="perfFileNameFallbackArchiveFull" value="${appPerfPathFallback}\${appName}\archives\${perfFileNameArchive}"/>

	<!-- PATH FULL log STRUCT -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="structFileNameFull" value="${appStructPath}\${processname:fullName=false}\${structFileName}"/>
	<!-- PATH FULL log STRUCT di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="structFileNameArchiveFull" value="${appStructPath}\${appName}\archives\${structFileNameArchive}"/>

	<!-- PATH FULL log STRUCT FALLBACK -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="structFileNameFallbackFull" value="${appStructPathFallback}\${appName}\${structFileName}"/>
	<!-- PATH FULL log STRUCT di archivio -->
	<!-- Composto da PATH BASE + NOME PROCESSO + FILENAME -->
	<variable name="structFileNameFallbackArchiveFull" value="${appStructPathFallback}\${appName}\archives\${structFileNameArchive}"/>


	<!-- PATH FULL log FLOW -->
	<!-- Composto da PATH BASE + {SYSTEM} + FILENAME -->
	<variable name="flowFileNameFull" value="${appFlowPath}\${event-context:item=System}\${flowFileName}"/>
	<!-- PATH FULL log APPLICATION di archivio -->
	<!-- Composto da PATH BASE + {SYSTEM} + {YYYYMMDD} + FILENAME -->
	<variable name="flowFileNameArchiveFull" value="${appFlowPath}\${event-context:item=Domain}\${event-context:item=System}\${replace:searchFor=(\:|-|\s):wholeWords=false:replaceWith=:ignoreCase=true:regex=true:inner=${substring:inner=${longdate}:length=10:start=0}}\${flowFileNameArchive}"/>

	<!-- PATH FULL log FLOW FALLBACK -->
	<!-- Composto da PATH BASE + {SYSTEM} + FILENAME -->
	<variable name="flowFileNameFallbackFull" value="${appFlowPathFallback}\${event-context:item=System}\${flowFileName}"/>
	<!-- PATH FULL log PERFORMANCE di archivio -->
	<!-- Composto da PATH BASE + {SYSTEM} + {YYYYMMDD} + FILENAME -->
	<variable name="flowFileNameFallbackArchiveFull" value="${appFlowPathFallback}\${event-context:item=Domain}\${event-context:item=System}\${replace:searchFor=(\:|-|\s):wholeWords=false:replaceWith=:ignoreCase=true:regex=true:inner=${substring:inner=${longdate}:length=10:start=0}}\${flowFileNameArchive}"/>

	<!-- TARGET FILE TRACE -->
	<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO-->
	<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
	<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
	<targets>
		<target name="fileTrace" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${traceFileNameFull}"
					archiveFileName="${traceFileNameArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute name="ProcessId" layout="${processid}"/>
						<attribute name="ThreadId" layout="${threadid}"/>
						<attribute name="CurrentDevice" layout="${event-context:item=CurrentDevice}"/>
						<attribute name="RemoteDevice" layout="${event-context:item=RemoteDevice}"/>
						<attribute name="Direction" layout="${event-context:item=Direction}"/>
						<attribute name="Message" layout="${message}"/>
						<attribute name="Array" layout="${event-context:item=Array}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${traceFileNameFallbackFull}"
					archiveFileName="${traceFileNameFallbackArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute name="ProcessId" layout="${processid}"/>
						<attribute name="ThreadId" layout="${threadid}"/>
						<attribute name="CurrentDevice" layout="${event-context:item=CurrentDevice}"/>
						<attribute name="RemoteDevice" layout="${event-context:item=RemoteDevice}"/>
						<attribute name="Direction" layout="${event-context:item=Direction}"/>
						<attribute name="Message" layout="${message}"/>
						<attribute name="Array" layout="${event-context:item=Array}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE PERFORMANCE -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO-->
		<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
		<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
		<target name="filePerf" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${perfFileNameFull}"
					archiveFileName="${perfFileNameArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute name="ProcessId" layout="${processid}"/>
						<attribute name="Counter" layout="${counter}"/>
						<attribute name="Level" layout="${level}"/>
						<attribute name="ThreadId" layout="${threadid}"/>
						<attribute name="Message" layout="${message}"/>
						<attribute name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${perfFileNameFallbackFull}"
					archiveFileName="${perfFileNameFallbackArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute name="ProcessId" layout="${processid}"/>
						<attribute name="Counter" layout="${counter}"/>
						<attribute name="Level" layout="${level}"/>
						<attribute name="ThreadId" layout="${threadid}"/>
						<attribute name="Message" layout="${message}"/>
						<attribute name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE STRUCT -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO-->
		<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
		<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
		<target name="fileStruct" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${structFileNameFull}"
					archiveFileName="${structFileNameArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="timestamp" layout="${date:universalTime=true:format=o}"/>
						<attribute name="level" layout="${level}"/>
						<attribute name="host.id" layout="${hostname}"/>
						<attribute name="service.id" layout="${appName}"/>
						<attribute name="process.id" layout="${processid}"/>
						<attribute name="counter" layout="${counter}"/>
						<attribute name="thread.id" layout="${threadid}"/>
						<attribute name="data" encode="false" >
							<layout xsi:type='JsonLayout' IncludeEventProperties="true" excludeProperties="TetLoggerName" maxRecursionLimit="10"/>
						</attribute>
					</layout>
				</target>
				<target xsi:type="File" fileName="${structFileNameFallbackFull}"
					archiveFileName="${structFileNameFallbackArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute name="log.timestamp" layout="${date:universalTime=true:format=o}"/>
						<attribute name="log.level" layout="${level}"/>
						<attribute name="host.id" layout="${hostname}"/>
						<attribute name="service.id" layout="${appName}"/>
						<attribute name="process.id" layout="${processid}"/>
						<attribute name="loc.counter" layout="${counter}"/>
						<attribute name="thread.id" layout="${threadid}"/>
						<attribute name="log.data" encode="false" >
							<layout xsi:type='JsonLayout' IncludeEventProperties="true" excludeProperties="TetLoggerName" maxRecursionLimit="4"/>
						</attribute>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE APPLICATION -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO -->
		<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
		<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
		<target name="fileApplication" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${baseFileNameFull}"
					archiveFileName="${baseFileNameArchiveFull}"
						archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute  name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute  name="ProcessId" layout="${processid}"/>
						<attribute  name="Counter" layout="${counter}"/>
						<attribute  name="Level" layout="${level}"/>
						<attribute  name="ThreadId" layout="${threadid}"/>
						<attribute  name="callsite" layout="${callsite}"/>
						<attribute  name="Message" layout="${message}"/>
						<attribute  name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${baseFileNameFallbackFull}"
					archiveFileName="${baseFileNameFallbackArchiveFull}"
					   archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout type="JsonLayout">
						<attribute  name="Time" layout="${date:universalTime=true:format=o}"/>
						<attribute  name="ProcessId" layout="${processid}"/>
						<attribute  name="Counter" layout="${counter}"/>
						<attribute  name="Level" layout="${level}"/>
						<attribute  name="ThreadId" layout="${threadid}"/>
						<attribute  name="callsite" layout="${callsite}"/>
						<attribute  name="Message" layout="${message}"/>
						<attribute  name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE FLOW -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO -->
		<!-- NON MODIFICARE I PARAMETRI DI ARCHIVIAZIONE -->
		<target name="fileFlow" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${flowFileNameFull}"
						archiveFileName="${flowFileNameArchiveFull}"
						archiveNumbering="Date" archiveEvery="Hour" enableFileDelete="false">
					<layout type="JsonLayout">
						<!-- LOG TIME -->
						<attribute name="Time" layout="${date:universalTime=false:format=o}"/>
						<!-- LOG LEVEL -->
						<attribute name="Level" layout="${level}"/>
						<!-- System -->
						<attribute name="System" layout="${event-context:item=System}"/>
						<!-- Verbose -->
						<attribute name="Verbose" layout="${event-context:item=Verbose}"/>
						<!-- LogId -->
						<attribute name="LogId" layout="${event-context:item=LogId}"/>
						<!-- LogSource -->
						<attribute name="LogSource" layout="${event-context:item=LogSource}"/>
						<!-- User -->
						<attribute name="User" layout="${event-context:item=User}"/>
						<!-- Action -->
						<attribute name="Action" layout="${event-context:item=Action}"/>
						<!-- Result -->
						<attribute name="Result" layout="${event-context:item=Result}"/>
						<!-- Message -->
						<attribute name="Message" layout="${message}"/>
						<!-- InitialLogTime -->
						<attribute name="InitialLogTime" layout="${event-context:item=InitialLogTime}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${flowFileNameFallbackFull}"
						archiveFileName="${flowFileNameFallbackArchiveFull}"
						archiveNumbering="Date" archiveEvery="Hour" enableFileDelete="false">
					<layout type="JsonLayout">
						<!-- LOG TIME -->
						<attribute name="Time" layout="${date:universalTime=false:format=o}"/>
						<!-- LOG LEVEL -->
						<attribute name="Level" layout="${level}"/>
						<!-- System -->
						<attribute name="System" layout="${event-context:item=System}"/>
						<!-- Verbose -->
						<attribute name="Verbose" layout="${event-context:item=Verbose}"/>
						<!-- LogId -->
						<attribute name="LogId" layout="${event-context:item=LogId}"/>
						<!-- LogSource -->
						<attribute name="LogSource" layout="${event-context:item=LogSource}"/>
						<!-- User -->
						<attribute name="User" layout="${event-context:item=User}"/>
						<!-- Action -->
						<attribute name="Action" layout="${event-context:item=Action}"/>
						<!-- Result -->
						<attribute name="Result" layout="${event-context:item=Result}"/>
						<!-- Message -->
						<attribute name="Message" layout="${message}"/>
						<!-- InitialLogTime -->
						<attribute name="InitialLogTime" layout="${event-context:item=InitialLogTime}"/>
					</layout>
				</target>
			</target>
		</target>
		<!-- LOG CALLER INFO-->
		<target name="console" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			  layout="${longdate}|${callsite}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}|${exception}" >
				<highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
				<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
				<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			</target>
		</target>

		<!-- abilita target MQTT -->
		<!--<target name="mqtt_struct" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
		  <target xsi:type="MQTT" name="mqtt" host="10.100.175.3" port="1883" username="ists"  password="ists" topic="log/${callsite}">
		  			<layout type="JsonLayout">
					  <attribute name="log.timestamp" layout="${date:universalTime=true:format=o}"/>
					  <attribute name="log.level" layout="${level}"/>
					  <attribute name="host.id" layout="${hostname}"/>
					  <attribute name="service.id" layout="${appName}"/>
					  <attribute name="process.id" layout="${processid}"/>
					  <attribute name="loc.counter" layout="${counter}"/>
					  <attribute name="thread.id" layout="${threadid}"/>
					  <attribute name="log.data" encode="false" >
						  <layout xsi:type='JsonLayout' IncludeEventProperties="true" excludeProperties="TetLoggerName" maxRecursionLimit="4"/>
					  </attribute>
				  </layout>
		  </target>
	  </target>-->

		<!-- Targets CSV Layout -->
		<target name="fileCSVTrace" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${traceFileNameFull}"
					archiveFileName="${traceFileNameArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- LOG PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- LOG THREAD ID -->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOCAL ENDPOINT -->
						<column name="CurrentDevice" layout="${pad:padding=30:inner=${event-context:item=CurrentDevice}}"/>
						<!-- REMOTE ENDPOINT -->
						<column name="RemoteDevice" layout="${pad:padding=30:inner=${event-context:item=RemoteDevice}}"/>
						<!-- DIRECTION -->
						<column name="Direction" layout="${pad:padding=6:inner=${event-context:item=Direction}}"/>
						<!-- DESCRIPTION -->
						<column name="Message" layout="${message}"/>
						<!-- DATA -->
						<column name="Array" layout="${event-context:item=Array}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${traceFileNameFallbackFull}"
					archiveFileName="${traceFileNameFallbackArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- LOG PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- LOG THREAD ID -->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOCAL ENDPOINT -->
						<column name="CurrentDevice" layout="${pad:padding=30:inner=${event-context:item=CurrentDevice}}"/>
						<!-- REMOTE ENDPOINT -->
						<column name="RemoteDevice" layout="${pad:padding=30:inner=${event-context:item=RemoteDevice}}"/>
						<!-- DIRECTION -->
						<column name="Direction" layout="${pad:padding=6:inner=${event-context:item=Direction}}"/>
						<!-- DESCRIPTION -->
						<column name="Message" layout="${message}"/>
						<!-- DATA -->
						<column name="Array" layout="${event-context:item=Array}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE PERFORMANCE -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO-->
		<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
		<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
		<target name="fileCSVPerf" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${perfFileNameFull}"
					archiveFileName="${perfFileNameArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- LOG THREAD ID-->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOG CALLER INFO-->
						<column name="callsite" layout="${callsite}"/>
						<!-- LOG MESSAGE-->
						<column name="Message" layout="${message}"/>
						<!-- LOG EXCEPTION -->
						<column name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${perfFileNameFallbackFull}"
					archiveFileName="${perfFileNameFallbackArchiveFull}"
					archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- LOG THREAD ID-->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOG CALLER INFO-->
						<column name="callsite" layout="${callsite}"/>
						<!-- LOG MESSAGE-->
						<column name="Message" layout="${message}"/>
						<!-- LOG EXCEPTION -->
						<column name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE APPLICATION -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO -->
		<!-- archiveAboveSize: consente di modificare la dimensione del file di archivio  -->
		<!-- maxArchiveFiles: consente di modificare il numero file di archivio  -->
		<target name="fileCSVApplication" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${baseFileNameFull}"
					archiveFileName="${baseFileNameArchiveFull}"
						archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="200" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- LOG THREAD ID-->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOG CALLER INFO-->
						<column name="callsite" layout="${callsite}"/>
						<!-- LOG MESSAGE-->
						<column name="Message" layout="${message}"/>
						<!-- LOG EXCEPTION -->
						<column name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${baseFileNameFallbackFull}"
					archiveFileName="${baseFileNameFallbackArchiveFull}"
					   archiveNumbering="Sequence"  archiveAboveSize="52428800" maxArchiveFiles="20" enableArchiveFileCompression="true">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- PROCESS ID -->
						<column name="ProcessId" layout="${pad:padding=6:inner=${processid}}"/>
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- LOG THREAD ID-->
						<column name="ThreadId" layout="${pad:padding=5:inner=${threadid}}"/>
						<!-- LOG CALLER INFO-->
						<column name="callsite" layout="${callsite}"/>
						<!-- LOG MESSAGE-->
						<column name="Message" layout="${message}"/>
						<!-- LOG EXCEPTION -->
						<column name="Exception" layout="${exception:innerFormat=Message,StackTrace}"/>
					</layout>
				</target>
			</target>
		</target>

		<!-- TARGET FILE FLOW -->
		<!-- COMPOSTO DA DESTINAZIONE PRINCIPALE E DESTINAZIONE FALLBACK IN CASO FALLIMENTO -->
		<!-- NON MODIFICARE I PARAMETRI DI ARCHIVIAZIONE -->
		<target name="fileCSVFlow" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
				<target xsi:type="File" fileName="${flowFileNameFull}"
					archiveFileName="${flowFileNameArchiveFull}"
					   archiveNumbering="Date" archiveEvery="Hour" enableFileDelete="false">
					<layout xsi:type="CSVLayout" quoting="All" quoteChar="&quot;" delimiter="Pipe">
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- System -->
						<column name="System" layout="${pad:padding=6:inner=${event-context:item=System}}"/>
						<!-- Verbose -->
						<column name="Verbose" layout="${pad:padding=6:inner=${event-context:item=Verbose}}"/>
						<!-- LogId -->
						<column name="LogId" layout="${pad:padding=6:inner=${event-context:item=LogId}}"/>
						<!-- LogSource -->
						<column name="LogSource" layout="${pad:padding=6:inner=${event-context:item=LogSource}}"/>
						<!-- User -->
						<column name="User" layout="${pad:padding=6:inner=${event-context:item=User}}"/>
						<!-- Action -->
						<column name="Action" layout="${pad:padding=6:inner=${event-context:item=Action}}"/>
						<!-- Result -->
						<column name="Result" layout="${pad:padding=6:inner=${event-context:item=Result}}"/>
						<!-- Message -->
						<column name="Message" layout="${message}"/>
						<!-- InitialLogTime -->
						<column name="InitialLogTime" layout="${event-context:item=InitialLogTime}"/>
					</layout>
				</target>
				<target xsi:type="File" fileName="${flowFileNameFallbackFull}"
						archiveFileName="${flowFileNameFallbackArchiveFull}"
						archiveNumbering="Date" archiveEvery="Hour" enableFileDelete="false">
					<layout xsi:type="CSVLayout">
						<!-- TARGET COUNTER -->
						<column name="Counter" layout="${pad:padding=10:inner=${counter}}"/>
						<!-- LOG TIME -->
						<column name="Time" layout="${pad:padding=20:inner=${longdate}}"/>
						<!-- LOG LEVEL -->
						<column name="Level" layout="${pad:padding=10:inner=${level}}"/>
						<!-- System -->
						<column name="System" layout="${pad:padding=6:inner=${event-context:item=System}}"/>
						<!-- Verbose -->
						<column name="Verbose" layout="${pad:padding=6:inner=${event-context:item=Verbose}}"/>
						<!-- LogId -->
						<column name="LogId" layout="${pad:padding=6:inner=${event-context:item=LogId}}"/>
						<!-- LogSource -->
						<column name="LogSource" layout="${pad:padding=6:inner=${event-context:item=LogSource}}"/>
						<!-- User -->
						<column name="User" layout="${pad:padding=6:inner=${event-context:item=User}}"/>
						<!-- Action -->
						<column name="Action" layout="${pad:padding=6:inner=${event-context:item=Action}}"/>
						<!-- Result -->
						<column name="Result" layout="${pad:padding=6:inner=${event-context:item=Result}}"/>
						<!-- Message -->
						<column name="Message" layout="${message}"/>
						<!-- InitialLogTime -->
						<column name="InitialLogTime" layout="${event-context:item=InitialLogTime}"/>
					</layout>
				</target>
			</target>
		</target>


	</targets>
	<rules>
		<!-- disabilita iccs protocol -->
		<logger name="TRACE_TcsClient*" maxlevel="Off" final="true" />
		<!-- disabilita iccs protocol -->
		<logger name="TRACE_TcsServer*" maxlevel="Off" final="true" />
		<!-- disabilita diagnostic server protocol -->
		<logger name="TRACE_DiagnosticSrvServer*" maxlevel="Off" final="true" />
		<!-- disabilita diagnostic server protocol -->
		<logger name="TRACE_ICCS.DiagnosticSrv.Protocol*" maxlevel="Off" final="true" />
		<!-- specifico SNMP -->
		<!--<logger name="PERF_ICCS.SnmpSrv.DiagnosticManager.TrapRule*" writeTo="perffileDebug" minlevel="Error" final="true" />-->
		<!-- specifico SNMP -->
		<!--<logger name="PERF_ICCS.SnmpSrv.DiagnosticManager.GetSetRule*" writeTo="perffileDebug" minlevel="Error" final="true" />-->
		<!-- specifico SNMP -->
		<!--<logger name="PERF_ICCS.SnmpSrv.PingDiagnostic*" writeTo="perffileDebug" minlevel="Error" final="true" />-->
		<!-- specifico SNMP -->
		<!--<logger name="PERF_ICCS.SnmpSrv.DiagnosticManager.AlarmTable*" writeTo="perffileDebug" minlevel="Trace" final="true" />-->
		<!-- specifico SNMP -->
		<!--<logger name="PERF_ICCS.SnmpSrv.DiagnosticManager.DynamicSourceProvider*"  writeTo="perffileDebug" minlevel="Error" final="true" />-->
		<!-- MICROSOFT LOGGING LEVEL -->
		<logger name="System.*" finalMinLevel="Info" />
		<logger name="Microsoft.*" finalMinLevel="Warning" />
		<logger name="Microsoft.AspNetCore.*" finalMinLevel="Warning" />
		<logger name="Microsoft.Hosting.Lifetime.*" finalMinLevel="Warning" />
		<logger name="Microsoft.EntityFrameworkCore.Diagnostics.*" finalMinLevel="Warning" />
		<logger name="MESSAGE_FlowSource" finalMinLevel="Off" />

		<!-- TRACE DI BASE -->
		<logger name="TRACE*" writeTo="fileTrace" minlevel="Trace" final="true" />
		<!-- FLOW DI BASE -->
		<logger name="FLOW*" writeTo="fileFlow" minlevel="Trace" final="true" />
		<!-- PERFORMANCE DI BASE -->
		<logger name="PERF*" writeTo="filePerf" maxlevel="Trace" final="true" />
		<!-- PERFORMANCE DI BASE -->
		<logger name="STRUCT*" writeTo="fileStruct" minlevel="Trace" final="true" />
		<!-- MESSAGE DI BASE -->
		<logger name="MESSAGE*" writeTo="fileApplication" minlevel="Error" />
		<logger name="System.*" writeTo="fileApplication" minlevel="Warning" />
		<logger name="Microsoft.*" writeTo="fileApplication" minlevel="Warning" />
		<logger name="Microsoft.Hosting.Lifetime*" writeTo="fileApplication" minlevel="Warning" />
		<!-- CONSOLE -->
		<logger name="*" writeTo="console" minlevel="Trace" />

	</rules>
</nlog>
